<nav class="main-nav">
    <div class="nav-content">
        <a href="/" class="nav-logo">
            <%- include('_logo.ejs') %>
            <span>Voyageur</span>
        </a>
        
        <% if (currentUser) { %>
            <a href="/logout" class="btn btn-secondary">Log Out</a>
        <% } %>
    </div>
</nav>